body, html{
  height: 100vh;
  margin: 0;
}
.title{
  font-size: 12vw;
}
.results{
  width: 75vw;
}
@media (max-width: 720px){
  .title{
    font-size: 86.5px
  }
}
@media (max-width: 800px){
  .results{
    width: 96vw;
  }
}
